

.header {
   max-width: var(--max-width);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 2rem;
   width: 70%;
   
 
}

.logo {
   width: 6rem;
}



.menu-list {
   margin: 0;
}

.menu-list_item {
   display: inline-block;
   margin: 0 .5rem;
   font-size: 24px;
}

.menu-list_item:last-child {
   margin-right: 0;
}

