

.header {
   max-width: var(--max-width);
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* position: absolute; */
   top: 2rem;
   width: 100%;
}

.logo {
   width: 6rem;
}

.menu-list {
   margin: 0;
}

.menu-list_item {
   
   display: inline-block;
   margin: 0 .5rem;
   font-size: 24px;
}

.menu-list_item:last-child {
   margin-right: 0;
}

@media (min-width:321px) and (max-width:768px){

   .logo{
      width: 80px;
      height: auto;
      margin-right: 40px;
      margin-left: 10px;
   }

   .menu {
      margin-top: 2rem;
      margin-left: 40px;
   }

   .content {
      align-items: center;
   }

   .menu-list_item{
      font-size: medium;
      margin: 0 5px;
   }

   

   

   .header {
   max-width: var(--max-width);
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* position: absolute; */
   top: 2rem;
   width: 70%;
}

   

}