.content {
    max-width: var(--max-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 10%;
    
 }
 
 .content_claim {
    font-size: 64px;
    padding-top: 13rem;
 
    color: var(--accent-color);
    margin: 0;
 }
 
 .content_subclaim {
    font-size: 36px;
    margin: .5rem 0;
    margin-bottom: 2rem;
 
 }

 
.boton-tienda-content {
    background-color: rgb(255, 52, 245);
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: transform .2s;
    margin-top: 2rem;
 }

 @media (min-width:321px) and (max-width:768px){
   .content{

    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

   }

   .content img{
      width: 320px;
      height: auto;
   }
 }
